button {
  height: 3rem;
  width: 6rem;
  outline: none;
  margin: 0.7rem;
  border: none;
  border-radius: 0.5rem;
}

button.current {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.3rem #221f1f;
}

#translateButton {
  background-image: url(../images/logoBlackTransparent.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f1f3f4;
  width: 18.7rem;
  transition: 0.7s;
}

#audioPlayer {
  margin-left: 0.7rem;
  margin-bottom: 0.7rem;
}

#translateButton:hover {
  background-image: url(../images/logoWhiteTransparent.png);
  background-size: contain;
  background-color: #221f1f;
  cursor: pointer;
}

.content {
  max-width: 50rem;
  margin: auto;
}

#mimidLogo {
  display: block;
  margin: auto;
}
